.Movie {
  background-color: hsl(0, 0%, 8%);
  width: 100vw;
}

.Interactive-buttons {
  border: 2px solid aqua;
  display: flex;
  column-gap: 0.75rem;
  align-items: center;
}

.Movie-OverView {
  font-size: 1.4rem;
  font-weight: 500;
  color: #eeeeee;
  margin-top: 1.5rem;
  line-height: 1.75;
  margin-bottom: 1rem;
  max-width: 90%;
}

.btn {
  padding: 0.85rem 1.2rem;
  transition: 250ms;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Movie-Genres {
  display: flex;
  column-gap: 0.75rem;
}

.Movie-Poster {
  width: 80%;
  margin: 0 auto;
  width: fit-content;
}

.Movie-Poster img {
  border-radius: 25px;
  max-width: 500px;
}

@media (min-width: 750px) and (max-width: 1150px) {
  .Movie-Poster {
    display: none;
  }
}

@media (max-width: 500px) {
  .Movie-Poster img {
    width: 100%;
  }
}

.Movie-Information {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  color: #eeeeee;
}

.Review-Container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.review-missing {
  color: #eeeeee;
  font-size: 1.3rem;
}

@media (max-width: 750px) {
  .Movie-Information {
    flex-direction: column;
  }
}
.Movie-Title {
  color: #eeeeee;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.Movie-Cast {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.Movie-Cast-Title {
  font-size: 2rem;
  color: #eeeeee;
}

.Movie-CastMember {
  height: 200px;
  border-radius: 6px;
}

.Cast-Member {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.75rem;
  width: 140px;
}

.Cast-Member-Name {
  color: #eeeeee;
  font-size: 1.1rem;
  font-weight: 400;
}

.Movie-BackDrop {
  width: 80%;
  margin: 0 auto;
  border: 5px solid red;
  overflow-y: hidden;
}

.Movie-Video,
.MediaRow-Container {
  width: 90%;
  margin: 0 auto;
}
.Trailer,
.Review-Title {
  color: #eeeeee;
  font-size: 4rem;
  font-weight: 400;
}

.iframe {
  width: 100%;
  height: 850px;
}

.genre-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.85rem;
  align-items: center;
}

.css-1c99szj-MuiRating-icon {
  color: #b71c1c !important;
}

.Rating-Container {
  margin-top: 2rem;
}
