.Interactive-buttons {
  border: 2px solid aqua;
  display: flex;
  column-gap: 0.75rem;
  align-items: center;
}

.Movie-OverView {
  font-size: 1.4rem;
  font-weight: 500;
  color: #eeeeee;
  margin-top: 1.5rem;
  line-height: 1.75;
  margin-bottom: 1rem;
}

.btn {
  padding: 0.85rem 1.2rem;
  transition: 250ms;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* .play {
  background-color: #f5f5f5;
  color: black;
}

.play:hover {
  background-color: #bdbdbd;
}

.trailer {
  background-color: black;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
} */

.Movie-Genres {
  display: flex;
  column-gap: 0.75rem;
}

.Movie-Poster img {
  border-radius: 25px;
}

.Movie-Information {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}

.Movie-Title {
  font-size: 4rem;
  color: #eeeeee;
}

.Movie-Cast {
  display: flex;

  column-gap: 0.85rem;
}

.Movie-Cast-Title {
  font-size: 2rem;
  color: #eeeeee;
}

.Movie-CastMember {
  height: 200px;
  border-radius: 6px;
  margin: 0 auto;
}

.Cast-Member {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.75rem;
}

.Cast-Member-Name {
  color: #eeeeee;
  font-size: 1.1rem;
  font-weight: 500;
}

.Movie-BackDrop {
  width: 80%;
  margin: 0 auto;
  border: 5px solid red;
  overflow-y: hidden;
}
